.allRows::-webkit-scrollbar{
    width: 10px;
    background-color: transparent;   
}
::-webkit-scrollbar-track{
    border-radius: 15px;
    background-color: #2D303E;
}
::-webkit-scrollbar-thumb{
    background-color: #4E4A49;
    border-radius: 15px;
}


.waiterRow{
    display: flex;
    padding: 10px 50px;
    border: 1px solid black;
    align-items: center;
}

.btn1{
    height: 30px;
    border: 1px solid black;
    background-color: transparent;
    border-radius: 4px;
    margin: 0 10px;
}

.logTableTitle{
    display: flex;
    margin: 10px 10px;
    /* border: 1px solid black; */
    /* background-color: #413E3E; */
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 6px;
}

.oneTitle{
    padding: 3px 30px;
    width: 15%;
}

.attendanceLog{
    height: 40%;
}

.logData{
    overflow: scroll;
    margin: -13px 0px;
    height: 100%;
    padding: 10px 0;
}

.logData::-webkit-scrollbar{
    width: 10px;
    height: 10px;
    background-color: transparent;   
}
::-webkit-scrollbar-track{
    border-radius: 15px;
    background-color: #2D303E;
}
::-webkit-scrollbar-thumb{
    background-color: #4E4A49;
    border-radius: 15px;
}

.logTableData{
    display: flex;
    margin: 20px 10px;
    background-color: #413E3E;
    align-items: center;
    height: 35px;
    border-radius: 6px;
}

.oneData{
    padding: 3px 30px;
    width: 15%;
}
.tableDate{
    padding: 3px 30px;
    width: 15%;
}