

.addUser{
    display: flex;
}

.userField{
    background-color: #1F1D2B;
}

.userField input{
    background-color: #413E3E;
    color: white;
}

.selectTables{
    position: absolute;
    left: 75%;
    background-color: #413E3E
}
.userSubmitBtn{
    /* margin-left:250px ; */
    position: absolute;
    left: 89%;
    height: 35px;
    width: 80px;
    border: 1px solid black;
    background-color: #413E3E;
    border-radius: 4px;
    color: white;
}
.userTitles{
    display: flex;
    margin-top: 20px;
    padding: 2px 48px;
    width: 100%;
    /* border: 1px solid black; */
}
.userTitle{
    padding:0 10px;
    /* border:1px solid black; */
    width:20%
}
.user{
    display: flex;
    padding: 10px 48px;
    width: 100%;    
}

.userDetail{
    padding:0 10px;
    border:1px solid black;
    width:20%;
    background-color: #413E3E;
    height: 35px;
    display: flex;
    align-items: center;
    border-radius: 3px;
}
