.addingMenu input{
    width: 250px;
    height: 35px;
    color: white;
    margin: 5px 15px;
    background-color:#413E3E
}

.viewMenu{
    margin: 30px;
    color: white;
}

.categoryTitleAndOther{
    display: flex;
    /* justify-content: space-around; */
    /* border: 1px solid rgb(197, 142, 103); */
}   

.mainCategory{
    width: 60%;
    padding: 0 10px;
    /* border: 1px solid red; */
    
}

.qtyName{
    width: 20%;
    /* border: 1px solid red; */
    text-align: center;
}

.categoryItems{
    display: flex;
    /* justify-content: space-around; */
    /* border: 1px solid rgb(197, 142, 103); */
    margin: 6px 0;
}

.subCategory{
    width: 60%;
    padding: 0 4%;
}

.qtyPrice{
    width: 20%;
    /* border: 1px solid red; */
    text-align: center;
}